.checkout{
    font-family: 'Abril Fatface';
    background-color: rgb(11, 43, 51);
    color: white;
    height: 800px;
    text-align: center;

    .chk-box{
    padding: 30px;
    margin-top: 80px;



    p{
        text-align: left;
    }



        .btn-dark{
            background-color:white;
            color: rgb(11, 43, 51);
            
            &:hover{
                background-color:rgb(210, 187, 178);
                color: rgb(11, 43, 51);
            }
        }

    }

    .mje-fnl{
        padding-top: 150px;
    }

    h2{
        padding-bottom: 25px;
    }
}
